{% load static %}
<style>
	h1{
		background-color:red;
		text-allign:center;
	}
</style>


{% for message in messages %}
{{ messages }}
{% endfor %}

<!doctype html>
<html lang="en">
  <head>
  	<title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="{% static 'css1/style.css' %}">
	<!-- <link rel="stylesheet" href="assets/"> -->

	</head>
	<body class="img js-fullheight">
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<span>
					<h2 class="heading-section">Login</h2>
					{% comment %} <h2 class="heading-section">Login</h2> {% endcomment %}

					</span>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">
		      	<h3 class="mb-4 text-center">Have an account?</h3>
		      	<form action="" class="signin-form" method="POST">
					{% csrf_token %}
		      		<div class="form-group">
		      			<input type="text" class="form-control" placeholder="Username" name="username" required>
		      		</div>
	            <div class="form-group">
	              <input id="password-field" type="password" class="form-control" placeholder="Password" name="password" required>
	              <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
	            </div>
	            <div class="form-group">
	            	<button type="submit" name="signIn" class="form-control btn btn-primary submit px-3">Sign In</button>
	            </div>
	            <div class="form-group d-md-flex">
	            	<div class="w-50">
		            	<label class="checkbox-wrap checkbox-primary">Remember Me
									  <input type="checkbox" checked>
									  <span class="checkmark"></span>
									</label>
								</div>
								<div class="w-50 text-md-right">
									<a href="#" style="color: #fff">Forgot Password</a>
								</div>
	            </div>
				<br><br>
	          </form>
	          <p class="w-100 text-center">Or Sign up</p>
	          <div class="social d-flex text-center">
	          	{% comment %} <a href="#" class="px-2 py-2 mr-md-1 rounded"><span class="ion-logo-facebook mr-2"></span> Facebook</a> {% endcomment %}
	          	{% comment %} <a href="#" class="px-2 py-2 ml-md-1 rounded"><span class="ion-logo-twitter mr-2"></span> Twitter</a> {% endcomment %}
				  
				{% comment %} <a class="form-control btn btn-primary submit px-3" href="{% url 'signUp' %}">Sign up</a> {% endcomment %}
				{% comment %} <a href="{% url 'signUp' %} type="submit" class="form-control btn btn-primary submit px-3 "> {% endcomment %}
	          </div>
		      </div>
				</div>
			</div>
		</div>
	</section>

	<script src="{% static 'js1/jquery.min.js' %}"></script>
  <script src="{% static 'js1/popper.js' %}"></script>
  <script src="{% static 'js1/bootstrap.min.js' %}"></script>
  <script src="{% static 'js1/main.js' %}"></script>

	</body>
</html>

