{% extends 'main/base.html' %}

{% block title %}
    ZILO Home page
{% endblock %}

{% block pageheader %}
    
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
        <div class="alert alert-info">
            <marquee><h2>welcome <b><strong>{{user.username}}</strong></b> to Zilo Services</h2> </marquee>
        </div>
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4 font-weight-normal">ZILO Market</h1>
            <p class="lead font-weight-normal">Click below to view Latest products </p>
            <a class="btn btn-outline-secondary" href="{% url 'items' %}">Proceed</a>

        </div>
        <div class="product-device box-shadow d-none d-md-block"></div>
        <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>

    </div>
{% endblock %}


{% block content %}

{% endblock %}