{% extends 'dashboard/base.html' %} 
{% load static %} 
{% load crispy_forms_tags %}
{% block content %}


<body class="img js-fullheight" style="background-image: url({% static 'images1/bg.jpg' %});">

<a href="{% url 'home' %}">
        <input style="margin-left:20px;" class="btn btn-danger" type="submit" value="Back">
        <i class="bi bi-arrow-left"></i> 
    </button>
</a>


<section class='text-center container'>
    <h2>Search articles in wikipedia</h2>
    <p>just enter the search query to obtain the results</p><b>Enter without any space</b>
    <form action="" method="post">
        {% csrf_token %}
        {{form|crispy}}
        <input class="btn btn-danger" type="submit" value="Submit">
    </form><br>

    <div class="container">
        <div class="content-section p-0 mt-5">
            <a href="" class="p-0 m-0" target="_blank">
                <div class="custom-header">
                    <h2>{{title}}</h2>{{title}}
                    <h6>{{link}}</h6>
                </div>
            </a>

            <hr class="p-0 m-0">
            <p class="description m-5 p-5">
                {{details}}
            </p>
            <hr>
        </div>
    </div>

</section>

{% endblock content %}