<nav class="navbar navbar-expand-lg navbar-primary bg-primary fixed-top">
  
  
  <div class="container">
      {% if request.user.is_authenticated %}
        <a class="navbar-brand text-white" href="{% url 'index' %}">Blog App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            
            <li class="nav-item">
              <a class="nav-link text-white">{{ user.username }}</a>
            </li>
            
            <li class="nav-item active">
              <a class="nav-link text-white" href="{% url 'profile' %}">Profile <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="{% url 'logout' %}">Logout</a>
            </li>

          </ul>

        </div>

      {% else %}

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link text-white" href="{% url 'sign_up' %}">Sign Up <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="{% url 'login' %}">LogIn</a>
            </li>
          </ul>
        </div>
        
    </div>
    
      {% endif %}
  </nav>