
{% load crispy_forms_tags %}


{% block content %}

  <div class="container">
   
      <div class="row mt-5 pt-5">
        <div class="col-md-8 offset-md-2">
          <div class="card my-3 shadow">
              <div class="card-body">
                <h3>Password Reset Confirm Page</h3>
                <hr>
                <form method="POST" action="">
                  {% csrf_token %}
                  {{ form|crispy}}
                  <input class="btn btn-primary btn-block" type="submit" value="Password-Reset-Comfirm" />
                </form>
                <hr>
                <br><br>
              </div>
          </div>
        </div>
        
    </div>

{% endblock %}

