<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>




{% load crispy_forms_tags %}


{% block content %}

  <div class="container">
   
      <div class="row mt-5 pt-5">
        <div class="col-md-8 offset-md-2">
          <div class="card my-3 shadow">
              <div class="card-body">
                <h3>Password Reset Done</h3>
                <hr>
                <div class="alert alert-info">
                    A mail has been sent. Follow the instructions to reset your password....
                </div>
                <hr>
                <br><br>
              </div>
          </div>
        </div>
        
    </div>

{% endblock %}

