{% extends 'partial/base.html' %}
{% block title %} Log-Out {% endblock %}
{% load crispy_forms_tags %}


{% block content %}
  <div class="container">
   
      <div class="row mt-5 pt-6">
        <div class="col-md-6 offset-md-3">
          <div class="card my-3 shadow">
              <div class="card-body">
                <h3>Logout page</h3>
                <hr>

                <div class="alert alert-info">
                    You have been logged out.
                </div>
                <a href="{% url 'login' %}">
              </div>
          </div>
        </div>
        
    </div>
{% endblock %}

