{% extends 'partial/base.html' %}
{% block title %} Reset-Password {% endblock %}
{% load crispy_forms_tags %}


{% block content %}

  <div class="container">
   
      <div class="row mt-5 pt-5">
        <div class="col-md-8 offset-md-2">
          <div class="card my-3 shadow">
              <div class="card-body">
                <h3>Password Reset page</h3>
                <hr>
                <div class="alert alert-info">
                    Enter your Email and you will be directed on how to retrieve your Password
                </div>
                <form method="POST">
                  {% csrf_token %}
                  {{ form|crispy}}
                  <input class="btn btn-primary btn-block" type="submit" value="Reset-Password" />
                </form>
                <hr>
                <br><br>
              </div>
          </div>
        </div>
        
    </div>

{% endblock %}

