{% extends 'partial/base.html' %}
{% block title %}Password-Reset-Complete {% endblock %}
{% load crispy_forms_tags %}


{% block content %}

  <div class="container">
   
      <div class="row mt-5 pt-5">
        <div class="col-md-8 offset-md-2">
          <div class="card my-3 shadow">
              <div class="card-body">
                <h3>Password Reset Complete</h3>
                <hr>
                <div class="alert alert-info">
                    You have successfully reseted your Password now Login with new credentials
                </div>
                <a href="{% url 'login' %}">Login</a>
              </div>
          </div>
        </div>
        
    </div>

{% endblock %}

